{% extends 'base.html.twig' %}

{% block title %}Yannick BRUEL{% endblock %}

{% block body %}
    <body style="background: lightgray">
        <style>
            .fond {  background: #b9b7b7; min-height: 85vh; font: 18px/1.5 sans-serif; }
        </style>

        <div class="fond container-lg centre">
            <h1 style="padding: 30px;text-align: center">Les sites de Yannick BRUEL</h1>

            <h4>Mes dernières réalisations :</h4>
            <ul>
                <li><a href="./kgb">Le site du KGB</a> - Réalisé avec Symfony (front-end/back-end)</li>
                <li>Bientôt la suite ...</li>
            </ul>
        </div>
    </body>
{% endblock %}
