{% extends 'basekgb.html.twig' %}

{% block title %}Administation{% endblock %}

{% block body %}


   <div class="container-lg text-center p-5">
      <h1>
         Nouvel agent
      </h1>
   </div>


   <div class="container-lg p-5">
      <form name="agent" method="post">
         <div id="agent" class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
               <div class="mb-3">
                  <label for="agent_identificationCode" class="form-label required">Code d'identification </label>
                  <input type="number" id="agent_identificationCode" name="agent[identificationCode]" required="required" class="form-control">
               </div>
               <div class="mb-3">
                  <label for="agent_name" class="form-label required">Nom</label>
                  <input type="text" id="agent_name" name="agent[name]" required="required" maxlength="255" class="form-control">
               </div>
               <div class="mb-3">
                  <label for="agent_firstName" class="form-label required">Prenom</label>
                  <input type="text" id="agent_firstName" name="agent[firstName]" required="required" maxlength="255" class="form-control">
               </div>

               <fieldset class="mb-3">
                  <legend class="col-form-label required">Date de naissance</legend>
                  <div id="agent_birthdate"><div class="visually-hidden">
                        <label class="form-label required" for="agent_birthdate_year">Year</label>
                        <label class="form-label required" for="agent_birthdate_month">Month</label>
                        <label class="form-label required" for="agent_birthdate_day">Day</label>
                     </div><div class="input-group">
                        <select id="agent_birthdate_month" name="agent[birthdate][month]" class="form-select">
                           <option value="1">Jan</option><option value="2">Feb</option><option value="3">Mar</option><option value="4">Apr</option><option value="5">May</option><option value="6">Jun</option><option value="7">Jul</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option></select>
                        <select id="agent_birthdate_day" name="agent[birthdate][day]" class="form-select"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>
                        <select id="agent_birthdate_year" name="agent[birthdate][year]" class="form-select"><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option></select>
                     </div>
                  </div>
               </fieldset>

               <div class="mb-3">
                  <label class="form-label required" for="agent_nationality">Nationalité</label>
                  <select id="agent_nationality" name="agent[nationality]" class="form-select">
                     <option value="Français">Français</option><option value="Allemand">Allemand</option>
                     <option value="Americain">Américain</option><option value="Russe">Russe</option><option value="Allemand">Allemand</option>
                  </select>
               </div>

               <fieldset class="mb-3">
                  <legend class="col-form-label required">Specialité</legend>

                  <select id="agent_speciality" name="agent[speciality][]" class="form-select" multiple>

                     {% for speciality in specialitys %}
                        <option value={{ speciality.id }}>{{ speciality.name }}</option>
                     {% endfor %}
                  </select>

               </fieldset>

               <div class="mb-3">
                  <button type="submit" id="agent_save" name="agent[save]" class="btn-primary btn">Enregistrer</button>
               </div>
               <input type="hidden" id="agent__token" name="agent[_token]" value="283666a59db1af.7Tsu9wUOV-HpwK66sK0l4EaB0YRpvmVnUSkzbM8dlIQ.q0h8gGRmBcy4icnP8phOmTbRo9ML0AMzH1hcI6ku9e2oU2HOa0cN0Z-z9w">

            </div>
            <div class="col-md-3"></div>
         </div>
      </form>
   </div>








{% endblock %}
