{% extends 'basekgb.html.twig' %}

{% block title %}Administation{% endblock %}

{% block body %}

    <div class="container-lg text-center p-5">
        <h1>
            ADMINISTRATION
        </h1>
    </div>

<div class="container-lg p-5">
    <ul>
        <li><a href="/kgb/admin/agent">Creer un agent</a></li>
        <li>Creer une mission</li>
        <li><a href="/kgb/admin/speciality">Creer une spécialité</a></li>
        <li>Creer une planque</li>
        <li>Creer un Contact</li>
    </ul>

</div>








{% endblock %}
