{% extends 'basekgb.html.twig' %}

{% block title %}Administation{% endblock %}

{% block body %}

    <div class="container-lg text-center p-5">
        <h1>
            ADMINISTRATION
        </h1>
    </div>

<div class="container-lg p-5">
    <ul>
        <li><a href="/kgb/admin/agent">Creer un agent</a> / <a href="/kgb/admin/mod_agent">modifier un agent</a></li>
        <br>
        <li><a href="/kgb/admin/mission">Creer une mission</a></li>
        <br>
        <li><a href="/kgb/admin/speciality">Creer une spécialité</a> / <a href="/kgb/admin/mod_speciality">modifier une spécialité</a></li>
        <br>
        <li><a href="/kgb/admin/hideout">Creer une planque</a></li>
        <br>
        <li><a href="/kgb/admin/contact">Creer un Contact</a></li>
        <br>
        <li><a href="/kgb/admin/target">Creer une Cible</a></li>
    </ul>

</div>








{% endblock %}
