{% extends 'basekgb.html.twig' %}

{% block title %}Administation{% endblock %}

{% block body %}


   <div class="container-lg text-center p-5">
      <h1>
         Créer {{ entity }}
      </h1>
   </div>


<div class="container-lg p-5">
   {{form(form)}}
</div>








{% endblock %}
