{% extends 'basekgb.html.twig' %}

{% block title %}Administation{% endblock %}

{% block body %}


    <div class="container-lg text-center p-5">
        <h1>
            Modifier une spécialité
        </h1>
    </div>


    <div class="container-lg text-center font d1">
        <div class="grid-name row">
            <div class="col border ">
                Nom
            </div>
        </div>

        {% for speciality in specialitys %}
            <div class="row">


                <div class="col border">
                    <a href="/kgb/admin/mod_speciality?id={{ speciality.id }}"><div >{{ speciality.name }}</div></a>
                    {% if item == speciality.id %}
                        <form method="post">
                            <input name="speciality[id]" value="{{ speciality.id }}" style="display: none">
                            <input name="speciality[name]" type="text">
                            <button type="submit">ok</button>
                        </form>
                    {% endif %}
                </div>


            </div>
        {% endfor %}

        <button style="margin: 20px"><a style="text-decoration: none; color: black" href="/kgb/admin">Retour</a></button>

    </div>




{% endblock %}